.content-container {
    background-color: #cadcfc;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 70px;
    margin-left: 90px;
}

.content h3 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h3 span {
    color: #00246b;
}

.content p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(94, 91, 91);
}

.content button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #00246b;
    color: #fff;
}

.content button:hover {
    background-color: #0036b1;
}

.content-image img {
    height: 550px;
    width: 550px;
    margin-top: 60px;
    margin-right: 90px;
}
/* small device */
@media screen and (max-width: 600px) {

    .logo img {
        height: 25px;
        margin-left: 5px;
    }

    .content-image img {
        display: none;
    }

    .content-container .content h3 {
        font-size: 40px;
        margin-right: 80px;
        text-align: center;
    }

    .content-container .content p {
        margin-right: 80px;
        text-align: center;
    }

    .content button {
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color: #00246b;
        color: #fff;
        margin-left: 105px;
        text-align: center;
    }

}

/* normal device */
@media screen and (min-width: 601px) and (max-width: 768px) {
    
    .logo img {
        height: 30px;
        margin-left: 5px;
    }

    .content-image img {
        display: none;
    }

    .content-container .content h3 {
        font-size: 40px;
        margin-right: 80px;
        text-align: center;
    }

    .content-container .content p {
        margin-right: 80px;
        text-align: center;
    }

    .content button {
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color: #00246b;
        color: #fff;
        margin-left: 180px;
    }
}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    
    .logo img {
        height: 40px;
        margin-left: 5px;
    }

    .content-container {
        display: inline;
    }

    .content-container .content h3 {
        font-size: 40px;
        margin-right: 80px;
        text-align: center;
    }

    .content-container .content p {
        margin-right: 80px;
        text-align: center;
    }

    .content button {
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color: #00246b;
        color: #fff;
        margin-left: 230px;
    }
}

/* large device */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    
    .logo img {
        height: 40px;
        margin-left: 5px;
    }
}