body {
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: center;
    background-color: #00246b;
    height: 70px;
    border-bottom: 2px solid black;
    position: relative;
}
.brand-logo{
    height: 70px;
}

.nav-text {
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    font-family:cursive
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    background-color: #0e337d;
    width: 250px;

}
.menu-item{
    background-color: #cadcfc;
    margin: 30px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color: #98b2e6
}
.menu-item:hover{
    background-color: #98b2e6;
}
.menu-icon{
    height: 45px;
    margin-left: 15px;
}
.menu-text{
    margin-left: 10px;
    font-size: 23px;
    padding: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom-navigation-bar{
    background-color:#0e337d;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #cadcfc;
    display: none;
    justify-content: space-around;
}
.bottom-menu-icon{
    background-color: #98b2e6;
    margin: 10px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}
/* Small Devices  */
@media screen and (max-width: 600px){
    .navbar{
        width:100%;
    }
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
    }
    }

 /* Normal Devices  */
@media screen and (min-width: 601px) and (max-width: 768px){
    .navbar{
        width:100%;
    }
    .sidebar{
        display: none;
    }
    .brand-logo{
        height: 70px;
    }
    
    .nav-text {
        color: white;
        font-size: 30px;
        position: absolute;
        bottom: 10px;
        margin-left: 10px;
        font-family:cursive
    }
    .bottom-navigation-bar{
        display: flex;
    }
}

/* Tablets Devices  */
@media screen and (min-width: 769px) and (max-width: 992px){
    .bottom-navigation-bar{
        display: none;
    }
}

/* Large Devices  */
@media screen and (min-width: 993px) and (max-width: 1550px){
    .bottom-navigation-bar{
        display: none;
    }
}
